body {
    font-family: Montserrat, Arial;
    margin: 0;
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f7f7f7;
}

.cart {
    width: 640px;
    height: 190px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

    .title {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .city, .weather {
        font-size: 18px;
        font-weight: 500;
        border: none;
    }

    .city {
        width: 360px;
        margin-left: 60px;
        outline: none;
    }

    .weather {
        color: white;
        width: 140px;
        height: 40px;
        border-radius: 5px;
        margin-right: 60px;
        background-color: #007bff;
        transition: background-color 0.3s ease;
    }
        .weather:hover {
            background-color: #0062cc;
            cursor: pointer;
        }

@media (max-width: 768px){ 
    .cart {
        height: 220px;
        text-align: center;
    }

    .city {
        width: 600px;
        margin-left: 0px;
    }

    .weather {
        margin-top: 20px;
        margin-right: 0px;
    }
}